li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90vw;
}

form {
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: dashed underline;
  cursor: pointer;
}